<footer>
    <nav>
        <div class="nav-links-container">
            <ul class="nav-links">
                <li><a href="./index.html#about">About</a></li>
                <li><a href="./index.html#experience">Experience</a></li>
                <li><a href="./index.html#projects">Projects</a></li>
                <li><a href="./index.html#positions">PORs</a></li>
                <li><a href="./index.html#testimonials">Testimonials</a></li>
                <li><a href="./index.html#contact">Contact</a></li>
                <li><a href="./blog.html">Blog</a></li>
            </ul>
        </div>
    </nav>
    <p>Copyright &#169; 2026 GodleoN. All Rights Reserved.</p>
</footer>
